<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>点检</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>润滑</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>维修</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>name</key>
				<string>紧固</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>name</key>
				<string>调整</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>name</key>
				<string>更换</string>
			</dict>
		</array>
		<key>title</key>
		<string>作业类型</string>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>workType</string>
		<key>showSepLine</key>
		<true/>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>showSepLine</key>
		<true/>
		<key>title</key>
		<string>填报组件</string>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverValue</key>
		<string>10</string>
		<key>serverKey</key>
		<string>componentId</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>开始时间</string>
		<key>showSepLine</key>
		<true/>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>startTime</string>
		<key>action</key>
		<string>selectTime</string>
		<key>format</key>
		<string>3</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>结束时间</string>
		<key>showSepLine</key>
		<true/>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>endTime</string>
		<key>action</key>
		<string>selectTime</string>
		<key>format</key>
		<string>3</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>预防维护工作内容</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>placeholder</key>
		<string>预防维护工作内容</string>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>maintenance</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>突发故障问题描述</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>placeholder</key>
		<string>突发故障问题描述</string>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>question</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>突发故障处理措施</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>placeholder</key>
		<string>突发故障处理措施</string>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>deal</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>故障原因</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>placeholder</key>
		<string>故障原因</string>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>reason</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>备件更换</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>placeholder</key>
		<string>备件更换</string>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>spareParts</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>停机时间</string>
		<key>showSepLine</key>
		<true/>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>stopTime</string>
		<key>action</key>
		<string>selectTime</string>
		<key>format</key>
		<string>3</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>停线时间</string>
		<key>showSepLine</key>
		<true/>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>workflowStopTime</string>
		<key>action</key>
		<string>selectTime</string>
		<key>format</key>
		<string>3</string>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>已解决</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>待处理</string>
			</dict>
		</array>
		<key>title</key>
		<string>问题状态</string>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>state</string>
		<key>showSepLine</key>
		<true/>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>是</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>否</string>
			</dict>
		</array>
		<key>title</key>
		<string>是否升级</string>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>upgradeState</string>
		<key>showSepLine</key>
		<true/>
		<key>required</key>
		<string>1</string>
	</dict>
</array>
</plist>
