<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellName</key>
		<string>PlanInputHeaderCell</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>height</key>
		<string>120</string>
		<key>localKey</key>
		<string>photo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>部件名称</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>componentName</string>
	</dict>
	<dict>
		<key>title</key>
		<string>紧固部位</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>partName</string>
		<key>placeholder</key>
		<string>紧固部位</string>
	</dict>
	<dict>
		<key>title</key>
		<string>紧固规范</string>
		<key>cellName</key>
		<string>MultipleInputCell</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>standard</string>
		<key>placeholder</key>
		<string>紧固规范</string>
	</dict>
	<dict>
		<key>title</key>
		<string>紧固方式</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>style</string>
		<key>placeholder</key>
		<string>紧固方式</string>
	</dict>
	<dict>
		<key>title</key>
		<string>紧固结果</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>result</string>
		<key>placeholder</key>
		<string>紧固结果</string>
	</dict>
</array>
</plist>
