<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellName</key>
		<string>PlanInputHeaderCell</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>height</key>
		<string>120</string>
		<key>localKey</key>
		<string>photo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>部件名称</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>componentName</string>
	</dict>
	<dict>
		<key>title</key>
		<string>润滑部位</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>partName</string>
		<key>placeholder</key>
		<string>润滑部位</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加注类别</string>
		<key>cellName</key>
		<string>MultipleInputCell</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>fillingCategory</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>fillingCategory</string>
		<key>placeholder</key>
		<string>加注类别</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加注计量</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>fillingAmount</string>
		<key>placeholder</key>
		<string>加注计量</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加注方法</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>localKey</key>
		<string>style</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>placeholder</key>
		<string>加注方法</string>
	</dict>
	<dict>
		<key>title</key>
		<string>润滑结果</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>localKey</key>
		<string>result</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>placeholder</key>
		<string>润滑结果</string>
	</dict>
	<dict>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>title</key>
		<string>润滑结点数量</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>localKey</key>
		<string>number</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>placeholder</key>
		<string>润滑结点数量</string>
	</dict>
</array>
</plist>
