<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellName</key>
		<string>MineHeaderCell</string>
		<key>lineInsetsOffset</key>
		<integer>15</integer>
		<key>height</key>
		<integer>150</integer>
		<key>selectStyle</key>
		<string>none</string>
		<key>showSepLine</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>blank_space</string>
		<key>height</key>
		<string>11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>点检记录</string>
		<key>icon</key>
		<string>dianjian</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>dianjian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>润滑记录</string>
		<key>icon</key>
		<string>runhua</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>oiling</string>
	</dict>
	<dict>
		<key>title</key>
		<string>紧固记录</string>
		<key>icon</key>
		<string>runhua</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>fasten</string>
	</dict>
	<dict>
		<key>title</key>
		<string>调整记录</string>
		<key>icon</key>
		<string>runhua</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>adjust</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更换记录</string>
		<key>icon</key>
		<string>runhua</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>replace</string>
	</dict>
	<dict>
		<key>title</key>
		<string>日志记录</string>
		<key>icon</key>
		<string>rbjl</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>log</string>
	</dict>
	<dict>
		<key>title</key>
		<string>设置</string>
		<key>icon</key>
		<string>sz</string>
		<key>type</key>
		<string>icon_title</string>
		<key>showSepLine</key>
		<true/>
		<key>lineInsetsOffset</key>
		<integer>90</integer>
		<key>showAccessory</key>
		<true/>
		<key>action</key>
		<string>setting</string>
	</dict>
</array>
</plist>
