<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellName</key>
		<string>PlanInputHeaderCell</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>height</key>
		<string>120</string>
		<key>localKey</key>
		<string>photo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>部件名称</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>componentName</string>
	</dict>
	<dict>
		<key>title</key>
		<string>点检部位</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>partName</string>
		<key>placeholder</key>
		<string>点检部位</string>
	</dict>
	<dict>
		<key>title</key>
		<string>点检规范</string>
		<key>cellName</key>
		<string>MultipleInputCell</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>serverKey</key>
		<string>standardId</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>standard</string>
		<key>placeholder</key>
		<string>点检规范</string>
	</dict>
	<dict>
		<key>title</key>
		<string>点检方式</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>localKey</key>
		<string>style</string>
		<key>placeholder</key>
		<string>点检方式</string>
	</dict>
	<dict>
		<key>title</key>
		<string>点检结果</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>selectStyle</key>
		<string>none</string>
		<key>localKey</key>
		<string>result</string>
		<key>required</key>
		<string>1</string>
		<key>placeholder</key>
		<string>点检结果</string>
	</dict>
	<dict>
		<key>title</key>
		<string>点检数据</string>
		<key>type</key>
		<string>title_value_v</string>
		<key>showSepLine</key>
		<true/>
		<key>enable</key>
		<true/>
		<key>showAccessory</key>
		<false/>
		<key>localKey</key>
		<string>data</string>
		<key>selectStyle</key>
		<string>none</string>
		<key>required</key>
		<string>1</string>
		<key>placeholder</key>
		<string>点检数据</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>已解决</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>待处理</string>
			</dict>
		</array>
		<key>title</key>
		<string>点检判断</string>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>judge</string>
		<key>showSepLine</key>
		<true/>
		<key>required</key>
		<string>1</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>正常</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>异常</string>
			</dict>
		</array>
		<key>title</key>
		<string> 处理状态</string>
		<key>type</key>
		<string>title_value</string>
		<key>placeholder</key>
		<string>请选择</string>
		<key>enable</key>
		<false/>
		<key>showAccessory</key>
		<true/>
		<key>serverKey</key>
		<string>state</string>
		<key>showSepLine</key>
		<true/>
		<key>required</key>
		<string>1</string>
	</dict>
</array>
</plist>
